---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-title {
    @include relative-font-size(2.0);
    margin-left: 5%;
    font-weight: bold;
}

.page-content {
    @include relative-font-size(1.3);
}

.content-text {
    @include relative-font-size(1.3);
    margin-bottom: 2%;
}

.wrapper {
    max-width: 1200px;
}

.profile-box {
    width: 25%;
    float: left;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 70px;
    margin-bottom: 3%;
}

.publications {
    width: 98%;
    float: left;
    margin-left: 5%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    flex-direction: row;

    a {
        width: 8%;
    }

    img {
        border: 1px solid black;
    }

    h3 {
        margin: 0px;
        margin-left: 10px;
        width: 100%;
    }
    h4 {
        margin: 0px;
        width: 100%;
    }
}


.links {
    float: right;

    img {
        float: right;
        width: 5%;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
