<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

          <div class="content-text">
              <div class="profile-box">
                  <img src="data/profile.jpg" />
              </div>
              <p>
              I'm a 4<sup>th</sup> year Ph.D. student in the EECS department
              at UC Berkeley
              working with 
              <a href=https://people.eecs.berkeley.edu/~istoica/>Prof. Ion Stoica</a>
              and <a href=https://people.eecs.berkeley.edu/~jegonzal/>Prof. Joseph Gonzalez</a>.
              in the <a href=https://rise.cs.berkeley.edu>RISELab</a>.
              </p>

              <p>
              I'm currently interested in exploring distributed system abstractions 
              that ensure safety for applications that must continuously interact with the real-world 
              (e.g., robots and autonomous vehicles), and help develop two open-source artifacts:
              <ul>
                  <li><a href="https://github.com/erdos-project/erdos">ERDOS</a>, an execution platform for 
                      robotics and autonomous vehicle applications.</li>
                  <li><a href="https://github.com/erdos-project/pylot">Pylot</a>, an autonomous vehicle
                      that can drive in both real-world and simulation.</li>
              </ul>
              </p>
              <p>
              Before joining Berkeley, I spent some time at IBM Research, 
              where I worked on reliability and security problems in the Cloud 
              Computing and Blockchain group.

              During my undergrad, I explored program analysis techniques for 
              safely-upgrading third-party libraries.
              </p>

          </div>

          <div class="publications">
              <h2><b>Publications</b></h2>
          </div>
          <div class="publications">
              <a href="data/papers/erdos.pdf"><img src="data/erdos.jpg" /></a>
              <h3><b>D3: A Dynamic Deadline-Driven Approach for Building Autonomous Vehicles<b> 
              <h4>Ionel Gog, <b>Sukrit Kalra</b>, Peter Schafhalter, Joseph E. Gonzalez, Ion Stoica</h4>
              <h4>17<sup>th</sup> European Conference on Computer Systems (<b>EuroSys 2022</b>)</h4></h3>
          </div>
          <div class="publications">
              <a href="data/papers/pylot.pdf"><img src="data/pylot.jpg" /></a>
              <h3><b>Pylot: A Modular Platform for Exploring Latency-Accuracy Tradeoffs in Autonomous Vehicles<b>
              <h4>Ionel Gog*, <b>Sukrit Kalra</b>*, Peter Schafhalter*, Matthew A. Wright, Joseph E. Gonzalez, Ion Stoica</h4>
              <h4>38<sup>th</sup> IEEE International Conference on Robotics and Automation (<b>ICRA 2021</b>)</h3>
          </div>
          <div class="publications">
              <a href="data/papers/senate.pdf"><img src="data/senate.jpg" /></a>
              <h3><b>Senate: A Maliciously-Secure MPC Platform for Collaborative Analytics<b>
              <h4>Rishabh Poddar, <b>Sukrit Kalra</b>, Avishay Yanai, Ryan Deng, Raluca Ada Popa, Joseph M. Hellerstein</h4>
              <h4>30<sup>th</sup> USENIX Security Symposium (<b>USENIX 2021</b>)</h3>
          </div>
          <div class="publications">
              <a href="data/papers/mmorpg.pdf"><img src="data/mmorpg.jpg" /></a>
              <h3><b>Blockchain-Based Real-time Cheat Prevention and Robustness for Multi-Player Online Games<b>
              <h4><b>Sukrit Kalra</b>, Rishabh Sanghi, Mohan Dhawan</h4>
              <h4>14<sup>th</sup> International Conference on Networking EXperiments and Technologies (<b>CoNEXT 2018</b>)</h3>
          </div>
          <div class="publications">
              <a href="data/papers/zeus.pdf"><img src="data/zeus.jpg" /></a>
              <h3><b>ZEUS: Analyzing Safety of Smart Contracts<b>
              <h4><b>Sukrit Kalra</b>, Seep Goel, Mohan Dhawan, Subodh Sharma</h4>
              <h4>25<sup>th</sup> Annual Networking and Distributed System Security Symposium (<b>NDSS 2018</b>)</h3>
          </div>
          <div class="publications">
              <a href="data/papers/gretel.pdf"><img src="data/gretel.jpg" /></a>
              <h3><b>GRETEL: Lightweight Fault Localization for OpenStack<b>
              <h4>Ayush Goel*, <b>Sukrit Kalra</b>*, Mohan Dhawan</h4>
              <h4>12<sup>th</sup> International Conference on Networking EXperiments and Technologies (<b>CoNEXT 2016</b>)</h3>
          </div>
          <div class="publications">
              <a href="data/papers/pollux.pdf"><img src="data/pollux.jpg" /></a>
              <h3><b>POLLUX: Safely Upgrading Dependent Application Libraries<b>
              <h4><b>Sukrit Kalra</b>*, Ayush Goel*, Dhriti Khanna, Mohan Dhawan, Subodh Sharma, Rahul Purandare</h4>
              <h4>24<sup>th</sup> ACM SIGSOFT International Symposium on Foundations of Software Engineering (<b>FSE 2016</b>)</h3>
          </div>
      </div>
    </main>
  </body>

</html>
